/*styles for my resume */

BODY{
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color:#444;
  font-weight:400;

}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* banner name at top */
#name {font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  color: #33485e;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* title */
#title {
  color: #33485e;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/* section titles */
.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: #fff;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
  width: 70%;
  min-width: 300px;
}

.jobtitle {
  font-size: 2em;
  font-weight:bold;
  font-style: normal;

}

.organization{
  font-size: 1.25em;
  font-weight: 400;
}

.date {
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  margin-top: 2px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

#do{
  font-size: 1em;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.description{
  margin: 10px 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.menu {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  list-style-type:none;
  display: inline;
  
}

.degrees {
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.top {
  width: 60%;
  min-width: 300px;
  margin:0 auto;
  margin-bottom: 30px;
}

.menu {
  align: center;

}
