.display-4{
  padding-left: 650px;
  padding-top: 0px;
}

.lead{

  padding-left: 650px;
  padding-right: 200px;
  padding-top: 0px;

}

.myface{
  width:100%;
  margin: 0 auto;
  width: 500px;
}

.col-md-62{
  font-size: 25px;
  padding-top: 100px;
}

h3{
  font-size: 35px;

}

.head1{

  padding-top: 100px;
}
