#container{

  padding-left: 33px;
  padding-right: 25px;
}

.topper{
  width: 100%;
}


.intro{
  font-size: 20px;
  font-family: georgia, montserrat, sans-serif;
  padding-left: 25px;
  padding-right: 25px;
}

.profile{
  margin: 0 auto;
  width: 759px;
  padding-right: 10px;
  padding-left: 32px;
}

.mt-0{
  font-size: 45px;
  font-family: georgia, Montserrat,sans-serif;
  padding-top: 250px;
  padding-left: 25px;
}

.boton{
  padding-left: 25px;
}

.col-md-6{
  padding-bottom: 10px;
  padding-top: 10px;
}

h1{
  font-size: px;
  font-family: georgia, montserrat, sans-serif;
  padding-left: 500px;
}

li{
  list-style-type: none;
  padding-top: 10px;
}

h2{
  padding-top: 20px;
  font-size: 30px;
}

h3{
  font-size: 25px;
  color: #550066;
}


h4{
  font-style: italic;
  font-weight: lighter;
  font-size: 20px;
}

h5{
  font-size: 15px;
}

footer{
  text-align: center;
  padding: 3px;
  background-color:#333333;
  color: white;
}
